@page "/"

<NavLink class="nav-link" href="add">
    Add
</NavLink>
<div>
    <a href="/add">Create</a>
</div>
<button @onclick="LoadData">Refresh</button>

<table class="table table-responsive">
    <tr>
        <td>
            ID
        </td>

        <td>
            Name
        </td>
        <td>Command</td>
    </tr>
    @for(int i = 0; i < data.Count; i++)
    {
        <tr>
            <td> @data[i].ID</td>
            <td> @data[i].PersonName</td>
            <td>
                <a class="nav-link" href="/edit/@data[i].ID">Edit</a>
            </td>
            <td>
                <a class="nav-link" href="/delete/@data[i].ID">Delete</a>
            </td>
        </tr>
    }


</table>
@code{
@inject IPersonService service
    protected override void OnInitialized()
    {

        LoadData();
        base.OnInitialized();
    }
    List<Person> data=new List<Person>();

    void LoadData()
    {
        data = service.GetPerson();
    }

}